.grid_5.show_house.bpush_4
	%h2.tpush_4.lpush_2
		20/10/2011
	%h1.lpush_2
		SANTA ALDEIA

	.grid_5.alpha.omega.tpush_4.bpush_4.acenter
		=image_tag "house_grid_5.jpg", :alt => "Santa Aldeia"

	.grid_4.lpush_2.bpush_4
		%span.bold
			Quem Toca:
		Grupo Façanha e Revelação

	.grid_4.lpush_2.bpush_4
		%span.bold
			Onde:
		Rua Funchal, 657, Vila Olimpia, SP

	.grid_4.lpush_2.bpush_4
		%span.bold
			A partir:
		23:00 
	
	.grid_4.lpush_2.bpush_4
		%span.bold
			Quanto:
		%br
		H 40,00 e M 15,00