	
.grid_20.tpush_5.bpush_3
	.grid_5.alpha
		=image_tag("proximos_pagodes.png")
		

-10.times do
	=render :partial => "layouts/groups/next_exibition"
		


.grid_20.tpush_5.bpush_3
	.grid_4.alpha
		=image_tag("casas_show.png")
		
-8.times do
	=render :partial => "layouts/houses/next_house"