.grid_4.overflow
	.grid_4.alpha.omega.tpush_4.bpush_2
		%h1
			15.11 - SANTA ALDEIA
	.group_image.bpush_5.overflow
		=image_tag "group_grid_4.jpg" , :alt => "EXALTASAMBA"
		%h2
			%span.tpush_1.bpush_1.lpush_1.rpush_1
				23:00
		%h1
			%span.tpush_1.bpush_1
				EXALTASAMBA