.grid_4.show_pagode.bpush_4
	%h3.tpush_4.lpush_4
		20/10/2010
	%h2.lpush_4
		SANTA ALDEIA

	.grid_3.alpha.omega.lpush_4.tpush_4.bpush_4
		=image_tag "group_grid_3.jpg", :alt => "Turma do Pagode"
	
	%h1.acenter.bpush_4
		TRUMA DO PAGODE
	
	.grid_3.lpush_4.bpush_4
		%span.bold
			Onde:
		Rua Vicente de Carvalho, 191
	
	.grid_3.lpush_4.bpush_4
		%span.bold
			A partir:
		23 horas
	
	.grid_3.lpush_4.bpush_4
		%span.bold
			Quanto:
		%br
		H 40,00 e M 15,00